{{!-- Start of Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <h1 class="display-4" id="site-title">EAT DA BURGER!</h1>
            <img src="/assets/burger-img.png" class="img-fluid" alt="burger image" />
        </div>
        <p class="lead">Enter the name of the burger you would like to devour!</p>
        <hr class="my-4">
        {{!-- Form to get the name of the burger --}}
        <form class="form-inline" action="/burgers" method="POST">
            <div class="form-group mx-sm-3 mb-2">
                <label for="burger" class="sr-only">Burger's Name</label>
                <input type="text" class="form-control" id="burger-name" name="burger_name" placeholder="Burger Name"
                    required />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
</div>
{{!-- End of Jumbotron --}}
<hr class="my-4">
{{!-- List the burgers --}}
<div class="container">
    <div class="row">
        {{!-- Not devoured burgers --}}
        <div class="card" style="width: 24rem;">
            <div class="card-header">
                Not devoured burgers
            </div>
            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#unless this.devoured}}
                <li class="list-group-item">{{this.id}}. {{this.burger_name}}
                    <form id="to-devour" action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        <button type="submit" class="btn btn-succes">DEVOUR!</button>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        {{!-- END of NOT-DEVOURED burgers --}}


        <div class="card" style="width: 24rem;">
            <div class="card-header">
                Devoured burgers
            </div>
            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#if this.devoured}}
                <li class="list-group-item" id="devoured">
                    {{this.id}}. {{this.burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>